- var en = require('../../layout/assets/images/uk.png');
- var es = require('../../layout/assets/images/spain.png');
- var logo = require('../../layout/assets/images/aspem-logo.jpg');

section(class="wrapper--main")

  header(class="header--main")
    div(class="header__logo"): img(src="#{logo}")
    section(class="header__wrapper-nav")
      nav(class="header__languages")
        a(ng-click="vm.changeLanguage('es')"): img.active(src="#{es}")
        a(ng-click="vm.changeLanguage('en')"): img(src="#{en}")
        a(ng-click="vm.changeLanguage('it')"): img(src="#{es}")
      nav(class="header__nav")
        a(class="header__nav__item--action") {{'DONATE_NOW' | translate}}
        a(class="header__nav__item") {{'TRANSPARENCY' | translate}}
        a(class="header__nav__item") {{'GALLERY' | translate}}
        a(class="header__nav__item") {{'HOW_YOUR_DONATION_HELPS' | translate}}
        a(class="header__nav__item") {{'TAKE_ACTION' | translate}}
        a(class="header__nav__item") {{'ECUADOR' | translate}}

  section(class="header--cover")
    div(class="header__caption")
      p.big +30 000
      p.text {{'REASON_SUPPORT' | translate}}
      p.hashtag #EcuadorEstamosContigo
      a() {{'DONATE_NOW' | translate}}

  section(class="content")
    div(class="content__wrapper")
      div.col-md-6
        h2 {{'SECTION_1.EARTHQUAKE_ECUADOR_TITLE' | translate}}
        p {{'SECTION_1.EARTHQUAKE_ECUADOR_DESCRIPTION_1' | translate}}
        p {{'SECTION_1.EARTHQUAKE_ECUADOR_DESCRIPTION_2' | translate}}
        p {{'SECTION_1.EARTHQUAKE_ECUADOR_DESCRIPTION_3' | translate}}
      div(class="content__twitter-feed"): div
        h3 {{'LAST_NEWS_TWITTER' | translate}}
        div.twitter-feed

    section(class="content")
      h2(class="content__title") {{'TAKE_ACTION' | translate}}
      div(class="content__wrapper")
        h3(class="content__subtitle") {{'UNIQUE_DONATION' | translate}}
        div(class="content__donation")
          div(class="content__donation__image")
            img(src="#{require('../../layout/assets/images/donacion-mensual.jpg')}")
          div(class="content__donation__description")
            p {{'UNIQUE_DONATION_DESCRIPTION' | translate}}
            form(class="content__donation__donate")
              div
                input(type="radio" name="uniqueAmount" value="20")
                span S/20.00
              div
                input(type="radio" name="uniqueAmount" value="20")
                span S/50.00
              div
                input(type="radio" name="uniqueAmount" value="20")
                span S/100.00
              div
                input(type="radio" name="uniqueAmount" value="20")
                span S/150.00
              div
                input(type="radio" name="uniqueAmount" value="20")
                span S/200.00
              section
                label {{'OTHER_AMOUNT' | translate}}
                input(name="UniqueOtherAMount")
              section
                button {{'DONATE' | translate}}

        h3(class="content__subtitle") {{'MONTHLY_DONATION' | translate}}
        div(class="content__donation")
          div(class="content__donation__image")
            img(src="#{require('../../layout/assets/images/donacion-unica.jpg')}")
          div(class="content__donation__description")
            p {{'MONTHLY_DONATION_DESCRIPTION' | translate}}
            form(class="content__donation__donate")
              div
                input(type="radio" name="monthlyAmount" value="20")
                span S/20.00
              div
                input(type="radio" name="monthlyAmount" value="20")
                span S/50.00
              div
                input(type="radio" name="monthlyAmount" value="20")
                span S/100.00
              div
                input(type="radio" name="monthlyAmount" value="20")
                span S/150.00
              div
                input(type="radio" name="monthlyAmount" value="20")
                span S/200.00
              section
                label {{'OTHER_AMOUNT' | translate}}
                input(name="monthlyOtherAMount")
              section
                button {{'DONATE' | translate}}
    
  section(class="content--bg")
    h2(class="content__title") {{'OTHER_WAYS_DONATE' | translate}}
    div(class="content__wrapper")
      div.col-md-6
        h3(class="content__subtitle") {{'BANK_AGENCY' | translate}}
        p {{'BANK_AGENCY_DESCRIPTION' | translate}}
      div.col-md-6
        h3(class="content__subtitle") {{'CONTACT_US' | translate}}
        p {{'CONTACT_US_DESCRIPTION' | translate}}
        form(class="content__form")
          div
            label {{'' | translate}}
            input(name="")

  section(class="content--bg-white")
    h3(class="content__title") {{'PRIVACY_POLICIES' | translate}}
    div(class="content__wrapper")
      p(class="content__description") {{'PRIVACY_POLICIES_DESCRIPTION' | translate}}

  section(class="content--bg-banner")
    h2(class="content__title") {{'HOW_YOUR_DONATION_HELPS' | translate}}
    div(class="content__wrapper")
      section(class="widget-pics")
        div(class="widget-pics__options")
          div(class="widget-pics__options__item")
            div(class="widget-pics__options__item__cover")
              span {{ 'WIDGET_PICS.TITLE_1' | translate}}
          div(class="widget-pics__options__item")
            div(class="widget-pics__options__item__cover")
              span {{ 'WIDGET_PICS.TITLE_2' | translate}}
          div(class="widget-pics__options__item")
            div(class="widget-pics__options__item__cover")
              span {{ 'WIDGET_PICS.TITLE_3' | translate}}
        div.row(class="widget-pics__content")
          div.col-md-4
            img(src="")
          div.col-md-8
            h3 {{'TITLE' | translate}}
            p {{'CONTENT' | translate}}

  section(class="content--bg-white")
    h3(class="content__title--color") {{'TRANSPARENCY' | translate}}
    div(class="content__wrapper")
      div(class="widget-tabs")
        div(class="widget-tabs__content")
          p Para ASPEm, la rendición de cuentas es un derecho de la población y un deber de la organización. Es el medio por el cual damos cuenta de nuestro cumplimiento
        div(class="widget-tabs__options")
          a(data-option="1") {{'WIDGET_TABS.REPORT_1' | translate}}
          a(data-option="2") {{'WIDGET_TABS.REPORT_2' | translate}}
          a(data-option="3") {{'WIDGET_TABS.REPORT_3' | translate}}

  section(class="content")
    h2(class="content__title") {{'GALLERY' | translate}}
    div(class="content__wrapper")
      div.col-md-6
        h3(class="content__subtitle--center") {{'VIDEOS' | translate}}
        div(class="widget__gallery--videos")
      div.col-md-6
        h3(class="content__subtitle--center") {{'PHOTOGRAPHY' | translate}}
        div(class="widget__gallery")

  hr.top
  hr.bottom
  section(class="footer")
    div.footer__logo: img(src="#{logo}")
    div.footer__social
      a(href=""): span.icon-facebook
      a(href=""): span.icon-twitter
      a(href=""): span.icon-youtube
    div.footer__contact
      span © 2016. ASPEm. All Rights Reserved.
      span Oficina: Calle Coronel Zegarra 270, Jesús María.
      span Teléfono: 999 999 999 | Fax: +511 2650475
      span Correo: comunicaciones@aspem.org.pe
