body {
  background-color: var(--primaryColor);
  font-family: 'Roboto', sans-serif;
  line-height: 1.25;
  color: #484747;
}

[class^="icon-"], [class*=" icon-"] {
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
}

:global a {
  color: #000;
}
:global p {
  margin: 0;
}

:global img {
  max-width: 100%;
}

:global .row {
  display: flex;
  justify-content: center;
  align-items: center;
}

:global .footer {
  background-color: var(--bgBlackColor);
  padding: 16px;
  color: #CECECE;
  & > .copy {
    display: block;
    width: 100%;
    text-align: center;
  }
}

:global .mb {
  margin-bottom: 16px;
  @media (min-width: 1024px) {
    margin-bottom: 24px !important;
  }
}

:global .mt {
  margin-top: 16px;
  @media (min-width: 1024px) {
    margin-top: 24px !important;
  }
}

:global .wrapper--contact {
  display: flex;
  justify-content: space-between;
  & > * {
    width: 492px;
  }
  & h2 {
    text-align: center;
  }
}

:global .swiper-container {
  height: 380px;
  width: 1000px;
  margin: 10px auto;
}

:global .form--contact {
  display: flex;
  flex-wrap: wrap;
  padding-left: 8px;
  & h2 {
    flex: 1 0 100%;
  }
  & div {
    flex: 1 0 50%;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    margin-bottom: 8px;
    &.message {
      flex: 1 0 100%;
    }
  }

  & input,
  & textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 1px 1px #ccc;
  }
  & textarea {
    height: 120px;
  }
  & .button {
    display: flex;
    justify-content: center;
    padding: 8px 72px;
    & button {
      padding: 8px;
      color: #fff;
      border: 0;
      border-radius: 2px;
      background-color: var(--colorBlue);
    }
    &.drogueria button{
      background-color: var(--colorGreen);
    }
  }
}

:global .map {
  height: 330px;
  padding: 4px;
  border-radius: 4px;
}
