:root {
  --primaryColor: #9E478E;
  --primaryColorHue1: #B06AA3;
  --accentColor: #086788;
  --bgBlackColor: #3C3C3C;
  --fallbackColor: #fff;
  --colorDrogueria: green;
  --colorTransporte: blue;
  --largeScreen: 1024px;
  --colorGreen: #00A7FD;
  --colorBlue: #337ab7;
}
