@import '_variables.css';
/*
@import '_reset.css';
@import url(https://fonts.googleapis.com/css?family=Roboto);

@import '_base.css';
*/

body {
  background-color: #fff;
  font-size: 16px;
  margin: 0;
  line-height: 1.5;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

:global p {
  margin: 0;
}
:global a {
  text-decoration: none;
}
:global img {
  max-width: 100%;
}
:global .m-t {
  margin-top: 24px;
}
:global .m-b {
  margin-bottom: 24px;
}

/** HEADER **/
:global .header--main {
  @neat-outer-container;
  padding-top: 24px;
  padding-bottom: 24px;
}

:global .header--cover {
  background-size: cover;
  background-color: #ccc;
  background-position: center;
  background-image: url('../assets/images/cover.png');
  @neat-outer-container;
  height: 400px;
}
  :global .header__caption {
    padding: 100px 40px 120px 500px;
    color: #fff;
    font-style: italic;
    font-weight: 700;
    & .big {
      font-size: 82px;
      text-shadow: 0 4px 6px #000;
      line-height: 1;
    }
    & .text {
      font-size: 32px;
      text-shadow: 0 4px 6px #000;
      margin-left: 80px;
    }
    & .hashtag {
      font-size: 18px;
      text-shadow: 0 4px 6px #000;
      margin-left: 170px;
    }
    & a {
      display: inline-block;
      padding: 8px 24px;
      margin-left: 160px;
      background-color: var(--primaryColor);
      margin-top: 16px;
    }
  }
  :global .header__logo {
    @neat-span-columns 3;
  }
  :global .header__wrapper-nav {
    @neat-span-columns 9;
  }
  :global .header__languages {
    @neat-outer-container;
    position: relative;
    top: -16px;
    & img {
      float: right;
      border: 4px solid #fff;
      width: 24px;
      margin-left: 16px;
      &.active {
        border-color: var(--primaryColor);
      }
    }
  }
  :global .header__nav {
    @neat-outer-container;
    & a {
      float: right;
      text-transform: uppercase;
      margin-left: 16px;
      font-size: 14px;
    }
  }
  :global .header__caption {

  }

/** CONTENT **/
:global .content--bg {
  background-color: var(--primaryColor);
  color: #fff;
  & .content__subtitle {
    color: #fff;
  }
}

:global .content--bg-white {
  & .content__title {
    color: #000;
    background-color: #fff;
  }
}

:global .content--bg-banner {
  background-size: cover;
  background-color: #ccc;
  background-position: center;
  background-image: url('../assets/images/fondo-parallax.jpg');
  & .content__title {
    color: #fff;
    background-color: transparent;
  }
}

:global .widget-pics__options {
  @neat-outer-container;
}

  :global .widget-pics__options__item {
    @neat-span-columns 4;
  }
  :global .widget-pics__options__item__cover {
    width: 250px;
    height: 250px;
    border: 12px solid #fff;
    text-align: center;
    background-color: #ccc;
  }

:global .content__wrapper {
  @neat-outer-container;
  padding: 16px 0;
}
  :global .content__donation {
    @neat-outer-container;
  }
    :global .content__donation__image {
      @neat-span-columns 4;
    }
    :global .content__donation__description {
      @neat-span-columns 8;
    }
    :global .content__donation__donate {
      @neat-outer-container;
      & > div {
        display: inline-block;
      }
    }

  :global .col-md-6 {
    @neat-span-columns 6;
  }
  :global .content__twitter-feed {
    @neat-span-columns 6;
    & > div {
      margin-left: 24px;
      background-color: var(--primaryColor);
      padding: 8px 24px 24px 24px;
    }
    & h3 {
      color: #fff;
      text-align: right;
      margin: 0 0 8px 0;
    }
    & .twitter-feed {
      height: 240px;
      background-color: #fff;
    }
  }

@define-placeholder content__subtitle {
  margin: 8px 0;
  color: var(--primaryColor);
}

  :global .content__subtitle {
    @extend content__subtitle;
  }

  :global .content__subtitle--center {
    @extend content__subtitle;
    text-align: center;
  }

:global .content__title--color {
  color: var(--primaryColor);
  text-align: center;
  padding: 8px;
  position: relative;
  margin: 0;
}

:global .content__title {
  background-color: var(--primaryColor);
  color: #fff;
  text-align: center;
  padding: 8px;
  position: relative;
  margin: 0;
  /*
  &:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--primaryColor);
    transform: rotate(45deg);
  }
  */
}
/** FOOTER **/
:global hr {
  border: 0;
  &.top {
    background-color: var(--primaryColorHue1);
    margin: 0;
    height: 3px;
  }
  &.bottom {
    background-color: var(--primaryColor);
    margin: 0;
    height: 8px;
  }
}

@define-placeholder widget__gallery {
  width: 300px;
  height: 250px;
  background: #ccc;
  margin: 0 auto;
}

:global .widget__gallery {
  @extend widget__gallery;
}
:global .widget__gallery--videos {
  @extend widget__gallery;
}

:global .footer {
  @neat-outer-container;
  padding-top: 24px;
  & .footer__logo,
  & .footer__social,
  & .footer__contact {
    @neat-span-columns 4;
  }
}
  :global .footer__social {
    text-align: center;
    & a {
      margin: 8px;
      background-color: var(--primaryColor);
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
      color: #fff;
      text-align: center;
      & span {
        position: relative;
        top: 10px;
      }
    }
  }

  :global .footer__contact {
    & span {
      display: block;
    }
  }
