@font-face {
    font-family: 'icomoon';
    src:    url('./fonts/icomoon.eot');
    src:    url('./fonts/icomoon.eot#iefix') format('embedded-opentype'),
        url('./fonts/icomoon.ttf') format('truetype'),
        url('./fonts/icomoon.woff') format('woff'),
        url('./fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:global .icon-facebook:before {
    content: "\e900";
}
:global .icon-twitter:before {
    content: "\e901";
}
:global .icon-youtube:before {
    content: "\e902";
}
